@model IEnumerable<ApplicationCore.Entitites.Shop>
@{
    ViewData["Title"] = "MyShops";
}

<h1>Our Shops</h1>

<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.ShopName)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.ShopState == ApplicationCore.Entitites.Shop.ShopStateEnum.Active)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShopName)
                    </td>
                    <td>
                        <input type="button" class="btn" value="Policies & Discounts" onclick="location.href='@Url.Action("Policies", "Buyer", new { ShopId = item.Guid })'" />
                        <input type="button" class="btn" value="view" onclick="location.href='@Url.Action("ViewShop", "Buyer", new { ShopId = item.Guid })'" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
