@model PresentaitionLayer.Models.UserMessage;
@{
    ViewData["Title"] = "FeedbackMessage";
}

<h2 style="font-family:Impact, Charcoal, sans-serif;">@Model.Message</h2>

<input type="button" align="center" style="position:center;"class="btn-group-sm" value="Continue" onclick="location.href='@Model.Redirect'"/>

<script>window.setTimeout(function () {
        window.location.href = '@Model.Redirect';
    }, 4000);</script>